.settings
	position absolute
	top 0
	right 3%
	clearfix()

	i
		font-size 1.6em
		display block
		cursor pointer
		padding 10px 10px 9px

	ul
		display none
		position absolute
		width 160px
		right 0
		top 100%
		background #ECECEC

		li
			a
				padding	10px
				display block
				color #3B3B3B

			&:first-child a
				background #DBDBDB


