@font-face 
	font-family 'stock'
	src: url('fonts/stock.eot?ve1h7i')
	src: url('fonts/stock.eot?#iefixve1h7i') format('embedded-opentype'), url('fonts/stock.woff?ve1h7i') format('woff'),	url('fonts/stock.ttf?ve1h7i') format('truetype'), url('fonts/stock.svg?ve1h7i#stock') format('svg')
	font-weight normal
	font-style normal


[class^="icon-"], [class*=" icon-"] 
	font-family 'stock'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1

	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale


.icon-config:before 
	content "\e693"

